[submodule "src/service_protobufs"]
	path = src/service_protobufs
	url = https://c9b60542c1a793a1bcc0b1e95ce3ab3d2da148c4:x-oauth-basic@github.com/getcircle/protobuf-soa.git
[submodule "swift/ProtobufRegistry/ThirdParty/protobuf-swift"]
	path = swift/ProtobufRegistry/ThirdParty/protobuf-swift
	url = https://c9b60542c1a793a1bcc0b1e95ce3ab3d2da148c4:x-oauth-basic@github.com/mhahn/protobuf-swift.git
